
  <div class="navbar navbar-default navbar-static-top" style="margin-bottom: 10px">
    <div class="container">
      <div class="navbar-toolbar">
        <span class="static-text">Week of the: </span>
        <input class="week-picker"
               data-bind="value: firstOfWeek, max: endOfWeek"
               data-role="datepicker"
               data-format="MMM dd">
        </div>
    </div> 
  </div>

<div class="top-bar" data-spy="affix" data-offset-top="62">
  <div class="container">
        <ul class="nav nav-pills nav-justified">
          {{#each days}}
          <li data-bind="class: { nav-success: submitted }" {{#unless @index}}class="active"{{/unless}} >
          <a href="{{url '/diary' date=(dateFormat date 'MMM-DD-YY') }}" 
              data-url="client" 
              data-target="#day_{{@index}}" 
              data-toggle="pill">
            {{dateFormat date 'Do: dddd'}}
          </a>
          </li>
          {{/each}}
        </ul>
    </div>
</div>
<div class="pg-main container">
  <div class="callout callout-info" data-bind="visible: submitted">This Diary has already been submitted so you cannot change it</div>
  <div class="tab-content">
    {{#each days}}
    <div class="tab-pane fade {{#unless @index}}in active {{/unless}}" id="day_{{@index}}"></div>
    {{/each}}
  </div>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="navbar-toolbar navbar-right">
      <button class="btn btn-default btn-save"   data-bind="invisible: submitted">Save Weekly Diary</button>
      <button class="btn btn-primary btn-submit" data-bind="invisible: submitted">Submit Diary</button>
      <button class="btn btn-primary btn-unsubmit" data-bind="visible: submitted">Unsubmit</button>
    </div>
  </div>
</nav>
