
  <div class="navbar navbar-default" style="margin-bottom: 10px">
      <div class="navbar-header">
        <span class="navbar-brand">Welcome</span>
      </div>
  </div>
  <div class="tab-content">
    {{#each this}}
      {{> historyItem }}
    {{/each}}
  </div>