
  <div class="navbar navbar-default" >
      <div class="container">
        <div class="navbar-header">
          <span class="navbar-brand">Welcome</span>
        </div>
    </div>
  </div>
  <ul class="diaries list-unstyled container">
    {{#each this}}
      <li>
        <h2 class="page-header">{{@key}}</h2>
        <ul style="list-style:none;" class="list-inline">
          {{#each this}}<li class="media">{{> historyItem }}</li>{{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>