body {
  padding-bottom: 70px;
}
.top-bar {
  background-color: white;
  z-index: 1000;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
}
.top-bar.affix {
  top: 0;
  background: #f8f8f8;
  transition: background 0.25s ease-in-out;
  -moz-transition: background 0.25s ease-in-out;
  -webkit-transition: background 0.25s ease-in-out;
}
.top-bar.affix + div {
  margin-top: 111px;
}
@media (min-width: 768px) {
  .top-bar.affix {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .top-bar.affix {
    width: 940px;
  }
}
@media (min-width: 1200px) {
  .top-bar.affix {
    width: 1140px;
  }
}
.radio-header {
  display: inline-block;
  width: 17px;
  font-weight: bold;
}
.radio-header + .radio-header {
  margin-left: 10px;
}
.form-occurances {
  width: 65px;
  display: inline-block;
}
.input-padding {
  margin-top: 5px;
}
.tab-content {
  margin-top: 30px;
}
.radio-range {
  text-align: center;
}
.radio-range td {
  padding: 0 10px;
}
.radio-range label {
  color: #6aa3d5;
  margin: 0 auto;
}
.form-action {
  margin-top: 40px;
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 4px;
}
.nav-pills li.nav-success > a {
  color: #5cb85c;
}
.nav-pills li.nav-success.active > a {
  color: #ffffff;
  background-color: #5cb85c;
}
.nav-pills li.nav-warning > a {
  color: #f0ad4e;
}
.nav-pills li.nav-warning.active > a {
  color: #ffffff;
  background-color: #f0ad4e;
}
.nav-pills li.nav-danger > a {
  color: #d9534f;
}
.nav-pills li.nav-danger.active > a {
  color: #ffffff;
  background-color: #d9534f;
}
